<html>
<head>
  <meta charset="utf-8">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//cdn.jsdelivr.net/phaser/2.2.2/phaser.js"></script>

  <script src="//cdn.opalrb.org/opal/current/opal.min.js"></script>
  <script src="//cdn.opalrb.org/opal/current/native.min.js"></script>
  <script src="//cdn.opalrb.org/opal/current/opal-parser.min.js"></script>
  <script src="//cdn.opalrb.org/external/0.6.2/opal-jquery-0.2.0.js"></script>
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <%= inc("body.html.erb") %>

  <script type = "text/ruby">
    path = "ws://#{`window.location.hostname`}:8080"
    puts "updating from #{path}"
    ws = Native(`new WebSocket(path)`)
    ws.onopen = -> {}
    ws.onmessage = -> {`location.reload(true)`}
    ws.onclose = -> {}
    ws.onerror = lambda{ puts err }
  </script>
</body>
</html>
